include *.rst
include *.txt
include *.py
include .coveragerc
include buildout.cfg
include tox.ini

recursive-include src *

recursive-include doc *.py
recursive-include doc *.rst
recursive-include doc Makefile

global-exclude *.pyc
global-exclude *.pyo
global-exclude coverage.xml
